<!DOCTYPE html>  <!-- #HTML5 -->
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %><!--#media argument are hashes .when
                                                                                                #hashes are the last argument in functional call,
                                                                                                #the curly bracket are optional-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>

  </head>

  <body>
  <%= render 'layouts/header' %>   <!--The way to achieve this in Rails is to use a facility called partials -->

  <div class="container">
    <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer'%>
    <%= debug(params) if Rails.env.development? %>  <!-- #Adding some debug information to the site layout
                                                    #Since we don’t want to display debug information to users
                                                      of a deployed application,  uses if Rails.env.development?
                                                        to restrict the debug information to the development environment,
                                                        which is one of three environments defined by default in Rails-->
  </div>

  </body>
</html>

